In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

df = pd.read_csv('data/mobilisation_2009_2012.csv',sep=';', encoding='latin-1')
df2 = pd.read_csv('data/mobilisation_2013_2016.csv',sep=';', encoding='latin-1')
df3 = pd.read_csv('data/mobilisation_2017_.csv',sep=';', encoding='latin-1')

# Je passe les IncidentNumber en object, parceque j'ai remarqué
# qu'avec les années, les notation passent de numérique (12345)
# à pseudo-numérique (12345-6789)
# Pour merge, c'est mieux d'encoder dans un type qui traite les deux
df = df.astype({'IncidentNumber' : 'object'})
df2 = df2.astype({'IncidentNumber' : 'object'})
df3 = df3.astype({'IncidentNumber' : 'object'})

df = pd.concat([df, df2], ignore_index=True)
df = pd.concat([df, df3], ignore_index=True)
df2 = []
df3 = []
df.to_csv(r'data/full_mobilisation.csv', index = False)

C:\Users\Roman\anaconda3\envs\ptorch\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Roman\anaconda3\envs\ptorch\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Roman\anaconda3\envs\ptorch\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Roman\anaconda3\envs\ptorch\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [5]:

df = pd.read_csv('data/incident_2009_2012.csv',sep=';', encoding='latin-1')
df2 = pd.read_csv('data/incident_2013_2016.csv',sep=';', encoding='latin-1')
df3 = pd.read_csv('data/incident_2017_.csv',sep=';', encoding='latin-1')
df.rename(columns={ df.columns[0]: "IncidentNumber" }, inplace = True)

# il y avait un problème de notation csv pour certaines colonnes
# j'ai contrôle ici que IncidentNumber était bien écrit...
print(df.columns)
print(df2.columns)
print(df3.columns)
df = df.astype({'IncidentNumber' : 'object'})
df2 = df2.astype({'IncidentNumber' : 'object'})
df3 = df3.astype({'IncidentNumber' : 'object'})

df = pd.concat([df, df2], ignore_index=True)
df = pd.concat([df, df3], ignore_index=True)
df2 = []
df3 = []
df.to_csv(r'data/full_incident.csv', index = False)

Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full',
       'Postcode_district', 'IncGeo_BoroughCode', 'IncGeo_BoroughName',
       'ProperCase', 'IncGeo_WardCode', 'IncGeo_WardName',
       'IncGeo_WardNameNew', 'Easting_m', 'Northing_m', 'Easting_rounded',
       'Northing_rounded', 'FRS', 'IncidentStationGround',
       'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending'],
      dtype='object')
Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full',
       'Postcode_district', 'IncGeo_BoroughCode', 'IncGeo_BoroughName',
       'ProperCase', 'IncGeo_WardCode', 'IncGeo_WardName',
       'IncGeo_WardNameNew', 'Easting_m', 'Northing_m', 'Easting_rounded',
       'Northing_rounded', 'FRS', 'IncidentStationGround',
       'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending'],
      dtype='object')
Index(['IncidentNumber', 'DateOfCall', 'CalYear', 'TimeOfCall', 'HourOfCall',
       'IncidentGroup', 'StopCodeDescription', 'SpecialServiceType',
       'PropertyCategory', 'PropertyType', 'AddressQualifier', 'Postcode_full',
       'Postcode_district', 'UPRN', 'USRN', 'IncGeo_BoroughCode',
       'IncGeo_BoroughName', 'ProperCase', 'IncGeo_WardCode',
       'IncGeo_WardName', 'IncGeo_WardNameNew', 'Easting_m', 'Northing_m',
       'Easting_rounded', 'Northing_rounded', 'Latitude', 'Longitude', 'FRS',
       'IncidentStationGround', 'FirstPumpArriving_AttendanceTime',
       'FirstPumpArriving_DeployedFromStation',
       'SecondPumpArriving_AttendanceTime',
       'SecondPumpArriving_DeployedFromStation',
       'NumStationsWithPumpsAttending', 'NumPumpsAttending', 'PumpCount',
       'PumpHoursRoundUp', 'Notional Cost (£)'],
      dtype='object')

In [8]:
df.head()

,IncidentNumber,ResourceMobilisationID,Resource_Code,PerformanceReporting,TimeMobilised,TimeMobilisedTimeZoneID,TimeMobile,TimeMobileTimeZoneID,TimeArrived,TimeArrivedTimeZoneID,...,TimeReturned,TimeReturnedTimeZoneID,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,MobilisationOrder,PlusCode_code,PlusCode_Description,DelayCodeID,DelayCode_Description
0,235138081,38426,H271,1st,01/01/2009 00:02:27,1,NaN,NaN,01/01/2009 00:07:46,1.0,...,01/01/2009 00:23:55,1.0,H27,Battersea,Home Station,1.0,nil,Initial attendance,0,NaN
1,235138081,38427,H212,2nd,01/01/2009 00:02:27,1,01/01/2009 00:06:40,1.0,01/01/2009 00:08:09,1.0,...,01/01/2009 00:12:17,1.0,H21,Clapham,Home Station,2.0,nil,Initial attendance,0,NaN
2,2091,38429,A341,1st,01/01/2009 00:04:09,1,01/01/2009 00:06:40,1.0,01/01/2009 00:09:17,1.0,...,01/01/2009 00:17:48,1.0,A34,Edmonton,Home Station,1.0,nil,Initial attendance,0,NaN
3,3091,38430,G232,1st,01/01/2009 00:04:57,1,01/01/2009 00:06:45,1.0,01/01/2009 00:08:27,1.0,...,01/01/2009 00:20:38,1.0,G23,Hillingdon,Home Station,1.0,nil,Initial attendance,0,NaN
4,5091,38431,A312,2nd,01/01/2009 00:06:04,1,01/01/2009 00:08:26,1.0,01/01/2009 00:10:14,1.0,...,01/01/2009 00:18:53,1.0,A31,Holloway,Home Station,1.0,nil,Initial attendance,0,NaN

In [5]:
df.TimeOfCall

0         00:00:37
1         00:00:46
2         00:03:00
3         00:04:27
4         00:05:39
            ...
485051    23:22:31
485052    23:39:47
485053    23:43:20
485054    23:52:03
485055    23:56:08
Name: TimeOfCall, Length: 485056, dtype: object